/*****************************/
/* BASIC STYLE CONFIGURATION */
/*****************************/

/* Main properties */
#header {
    background-color: #6c6bb5; /* Color of header bar and primary items */
    height:60px; /* Height of bar and submenu items */
    font-size:20px;
    color:#edebec;
    font-family:Raleway, Arial;
}

/* Color of primary header items on mouse over */
#header a:hover, #header div a:first-child:hover {
    background-color:#7991bc !important; /* The "!important" allows the topmost element of submenus (the one on the primary bar) to override the below rule. */
                                         /* This is unrelated to the "!important" attribute in the below rule. */
}

/* Submenu properties */
#header div a {
    background-color:inherit; /* Color of submenu items. Set to inherit to use the same color as primary menu items. */
    color:inherit;
}

/* Color of submenu items on mouse over. Cannot be set to inherit. */
#header div a:hover {
    background-color:#7991bc !important; /* The "!important" is necessary to override the "!important" rule above for submenus. */
}


/********************************/
/* ADVANCED STYLE CONFIGURATION */
/********************************/

/* NOTE: "#header div" is used instead of the .submenu class to style submenus and their elements.
   This is because attributes applied to that class are not given priority over styles inherited from "#header" and "#header a".
   The .submenu class is used in the HTML file for readability and JavaScript filtering. */

/* Positioning the main bar */
#header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0 -50px 15px 50px rgb(60, 60, 60);
}

/* Prevent images from overflowing the bar and make them float with menu elements */
#header img {
    height:100%;
    float:left;
}

/* Menu item attributes */
#header a, #header div {
    position:relative; /* Allows the element to serve as an anchor for positioning some of the pseudo-elements below */
    display:block; /* Applies to anchor tags */
    float:left;
    width:fit-content;
    height:100%;
    padding:0 15px 0; /* Overriden for submenu divs (see below) */
    transition:0.2s;
    background-color: inherit;
    color:inherit; /* Override default link styling */
    text-decoration:none; /* Override default link styling */
}

/* Vertically center the text */
#header a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Remove padding from the div containing the submenu since the contained elements already provide padding */
#header div {
    padding:0;
}

/* Submenu item attributes */
#header div a {
    float:initial;
    overflow:hidden; /* Prevent collapsed submenus from displaying */
    height:0; /* Collapse submenu */
}

/* Expand the submenu */
#header div:hover a {
    height:inherit;
}

/* TODO Refine arrow padding */
/* Attributes exclusive to the submenu item which resides on the primary menu bar */
#header div a:first-child {
    height:100%; /* Do not collapse this item */
    padding-right:20px; /* Extra padding to make room for the dropdown arrow */
    /* Use the primary menu bar's styles */
    background-color:inherit !important;
    color:inherit !important;
}

/* Render the dropdown arrow */
#header div a:first-child:after {
    content: "";
    display:block;
    position:absolute;
    top:0;
    width: 5px;
    height: 5px;
    top:50%;
    right:10px;
    background:url("../assets/dropdown-arrow.png") no-repeat;
    transform:rotate(90deg) translate(-50%,0);
    transition:inherit;
}

/* Rotate the dropdown arrow */
#header div:hover a:first-child:after {
    transform:rotate(180deg) translate(0,50%);
}

/* Apply this class to fix the header to the top of the viewport. */
.headerFixed {
    position:fixed !important;
    top:0;
    left:0;
}
