html, body {
	padding: 0;
    margin: 0;
    background-color:#dedede;
    min-height:100%;
}
#container {
    position:absolute;
    width:100%;
    min-height:100%;
    /* Necessary for min-height calculation on content */
    height:100%;
}
#content {
    /* top left <right> bottom; horizontally centers div */
    margin:50px auto 0;
    padding:15px;
    max-width:1500px;
    background-color:white;
    /* screen height - footer height - header height - content padding */
    min-height:calc(100% - 100px - 50px - 30px);
}
#footer {
    background-color:#999999;
    height:100px;
    max-width:1500px;
    padding:0 15px 0;
    margin:0 auto 0;
}

.perfect-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.center {
	text-align:center;
}
.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
